@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Pacifico&family=Poppins:wght@300&family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

#header{
    display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px 80px;
    background-color: #e0e4f8;
    box-shadow: 0px 5px 15px rgba(41, 16, 16, 0.5);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0px;
}  
  #navbar{
    
   display: flex; 
  align-items: center;
  justify-content: space-between;
  
  
  
}
.name{
    font-family: "poppins";
    font-size: 30px;
    font-weight: 800;
}
.lg{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #088178;
    font-weight: 900;

}
#navbar li{
    list-style: none;
    text-transform: uppercase;
    padding: 0px 20px;
    position: relative;;
    
}
#navbar li a{
    text-decoration: none;
    font-weight: 600;
    color: #1a1a1a;
    font-size: 16px;
    transition: 0.3s ease;
} 
#navbar li a:hover{
    color: #088178;
}   
#navbar li a:hover,
#navbar li a.active{
    color: #088178;
}   
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#hero{
    background-image: url(https://static.wixstatic.com/media/5bfb6f_26f1a5c736e544e09c63c82a4c792645~mv2_d_3839_1306_s_2.jpg/v1/fill/w_1898,h_653,al_b,q_85,usm_0.66_1.00_0.01,enc_auto/5bfb6f_26f1a5c736e544e09c63c82a4c792645~mv2_d_3839_1306_s_2.jpg);
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    color: #fafafa;
    font-family: "open-sans";
    position: relative;
    background-repeat: no-repeat;

    
}
.content{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 33%;
    top: 10%;
    
}
#hero p{
    font-size: 22px;
    font-family: "open sans";
    font-weight: 700;
}
#hero h1{
    font-size: 65px;
    font-family: "poppins";
    font-weight: 800;
    padding: 15px;
}
#main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.items{
flex-basis: 100%;
box-shadow: 0px 0px 5px #ccc;
padding:2%;
margin: 20px;
}
.cross{
    font-size: 35px;
    cursor: pointer;
    /* position: absolute;
    top: 0;
    right: 0; */
}
.btns{
    color: white;
    background-color: green;
    width: 50px;
    height: 30px;
    padding: 2px;
    border: none;
    border-radius: 6px;
    /* position: absolute;
    top: 2;
    right: 0; */
}



@media only screen and (max-width: 550px) {
    #navbar{
    
        display: flex; 
        /* flex-direction: column;
       align-items: stretch; */
       justify-content: center;
       flex-wrap: wrap;
   
       
     }
     #navbar li a{
        margin: 4px 0px;
     }
     /* #hero{
        opacity: 0.6;
     } */
  }